/* SPDX-FileCopyrightText: 2026 SecPal */
/* SPDX-FileCopyrightText: Tailwind Labs Inc. */
/* SPDX-License-Identifier: AGPL-3.0-or-later AND LicenseRef-TailwindPlus */

@import 'tailwindcss';
@import './typography.css' layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-2xs: 0.6875rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-mona-sans);
}